<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />
</head>

<%- include('./pages/partials/nav.ejs')  %> 


 


    <section>
        <div class="container-xxl my-5 py-5">
            <h2 class="mb-3 text-secondary">Biler</h2>
            <div class="row">
                <% if (varer.length > 0) { %>
                    <% varer.forEach(vare => { %>
                <div class="col-3">
                    <div class="card mt-3">
                        <img src="<%=  vare.picture %>" class="card-img-top" alt="...">
                        <div class="card-body">


                                <h5 class="card-title"><%= vare.name %> </h5>
                                <p class="card-text"><%= vare.description %> </p>
                                <a href="/biler/<%=vare ._id%>" class="btn btn-primary"><%= vare.price %> Kr </a>
                        </div>
                      </div>
                </div>
                <% }) %>
                <% } else { %>
                    <p>Der er ingen varer at vise</p>
                <% } %> 
                
            </div>
        </div>
    </section>

</body>
</html>