<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />
</head>
<body>
    <%- include('./pages/partials/nav.ejs')  %> 

    <section class="my-5 py-5" id="intro">
        <div class="container-lg">
            <div class="row justify-content-evenly align-items-center">
                <div class="col-3 text-center d-none d-md-block">
                    <img class="img-fluid" src="../Assets/editing.png" alt="profilBillede">
                </div>
                <div class="col-5 text-center">
                    <div class="m-3 p-3 rounded-pill border border-primary border-5 shadow lg fw-bold">Fulde navn</div>
                    <div class="fst-italic fw-light"><%= name %> </div>
                <div class="m-3 p-3 rounded-pill border border-dark border-5 shadow lg fw-bold">Adresse</div>
                    <div class="fst-italic fw-light"><%= address %> </div>
                <div class="m-3 p-3 rounded-pill border border-secondary border-5 shadow lg fw-bold">Email</div>
                    <div class="fst-italic fw-light"><%= username %> </div>
                <div class="m-3 p-3 rounded-pill border border-grey border-5 shadow lg fw-bold">Adgangskode</div>
                    <div class="fst-italic fw-light"> <%= password %> </div>
                        <form action="/RedigerProfil/:id" method="DELETE">
                            <a id="delete" type="submit" class="delete btn btn-primary" href="/logud">Slet</a>
                        </form>
            </div>
        </div>
    </section>

    <section>
        <div class=" container-xxl">
            <h1 class="text-center display-5 text-primary">Rediger Profil</h1>
          <div class="row align-items-center justify-content-evenly">
            <div class="col-8">
            <form action="/RedigerProfil" method="post" class="py-5">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Fulde navn</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
                    <div id="emailHelp" class="form-text">Skal udfyldes!</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Addresse</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="address">
                    <div id="emailHelp" class="form-text">Skal udfyldes!</div>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                  <div id="emailHelp" class="form-text">Skal udfyldes!</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="password">
                    <div id="emailHelp" class="form-text">Skal udfyldes!</div>
                  </div>

                  <button type="submit" class="btn btn-primary">Skift</button>
                </form>
              </div>
            </div>
          </div>
                </div>

        </section>






    <script>
        const trashcan = document.querySelector('a.delete');

       trashcan.addEventListener('click', (event) => {
            const endpoint = '/RedigerProfil';

            fetch(endpoint, {
                method: 'DELETE'
            })
 
       })
    </script>
</body>
</html>